.detailBoard {
    height: unset;
    border-radius: 12px;
    background-color: white;
    margin-bottom: 5.5rem;
    width: calc(88% - 2rem);
    margin-left: 6%;
    font-size: .8rem;
    color: gray;
    padding: 1rem;
}

.detailTitle {
    font-size: 1rem;
    color: black;
    margin-bottom: 1rem;
    font-weight: 700;
}

.friend {
    margin-top: .4rem;
    margin-bottom: .3rem;
    font-size: .9rem;
}

.dataBoard {
    border-radius: 12px;
    background-color: white;
    margin-bottom: 12px;
    width: calc(88% - 2rem);
    margin-left: 6%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
}

.contributionDetail {
    flex: 6;
}

.buttonBox{
    display: flex;
    position:fixed;
    bottom:0;
    align-items: center;
    justify-content: space-around;
    width: calc(100% - 2rem);
    padding:1rem;
    background-color: white;
}
.button{
    flex-basis: 45%;
    height: 3rem;
    color: white;
    border: 0px;
    border-radius: 12px;
    font-size: 1rem;
}