.detailBoard {
    height: unset;
    border-radius: 12px;
    background-color: white;
    margin-bottom: 5.5rem;
    width: calc(88% - 2rem);
    margin-left: 6%;
    font-size: .9rem;
    color: gray;
    padding: 1rem;
}

.detailTitle {
    font-size: 1rem;
    color: black;
    margin-bottom: 1rem;
    font-weight: 700;
}

.friend {
    margin-top: .4rem;
    margin-bottom: .3rem;
    font-size: .9rem;
}

.contributionDetail {
    flex: 6;
}
